.box{
    display: flex; 
    width: 70%; 
    margin: 40px auto;
}

.box > img{
    width: 30%; 
    height: auto; 
}

.card-text{
    margin-left: 40px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
}

.card-title{
    font-size:44px;
    margin-bottom: 5px; 
}

.card-category{
    text-transform: capitalize;
    margin-bottom: 20px;  
    font-size: 18px; 
    color: #2f3e46;
}

.card-rating{
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 20px;    
}

.star{
    font-size: 20px; 
}

.card-price{
    font-size: 36px;
    margin-bottom: 20px;
    color: #132a13;
    font-weight: bold;  
}

.dollar{
    font-size: 20px;
}

.desc-tag{
    font-size: 18px; 
    margin-bottom: 5px; 
}

.card-description{
    font-size: 16px; 
    line-height: 24px;
}

@media all and (max-width: 480px){
    .box{
        flex-direction: column;
        width: 90%; 
        background: white; 
        border-radius: 5px;
        align-items: center;
    }

    .box > img{
        width: 70%; 
        height: auto; 
    }

    .card-text{
        margin-left: 0; 
        padding: 20px; 
    }

    .card-title{
        margin-top: 20px; 
        font-size: 24px; 
    }
}