.container {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
    flex-wrap: wrap;
    font-family: "Mukta", sans-serif;
    padding: 20px; 
}

.container a{
    text-decoration: none;
    margin-bottom: 30px; 
    margin-right: 20px;   
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 15px; 
    height: 100%; 
    margin: 10px; 
    background: #161a1d;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.06);
}

.card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-text {
    /* padding: 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.category {
    color: #57cc99; 
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 3px;
    text-align: center;
}

.title {
    font-size: 14px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
}

.desc-tag{
    font-size: 14px;
    letter-spacing: 1px; 
    font-weight: bold;
}

.description {
    height: 150px;
    overflow-y: auto;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px; 
    text-transform: capitalize;
    background: #a9def9 ;
    color: black;
    border-radius: 5px;
}

.price {
    font-size: 24px;
    color: #8ac926;
    margin-bottom: 5px; 
}

.dollar {
    margin-right: 2px;
}

.rating {
    font-size: 15px;
    color: #adb5bd;
}

.star {
    vertical-align: middle;
    font-size: 13px;
    color: orange;
    margin-right: 3px;
}

.error {
    color: black;
    padding: 10px 15px;
    font-size: 15px;
    align-self: center;
    border-radius: 5px;
    text-align: center;
}

.xmark {
    display: flex;
    justify-content: center;
    color: red;
    margin-bottom: 5px;
    font-size: 40px;
    vertical-align: middle;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@media all and (max-width: 480px) {
    .container{
        flex-direction: column;
    }

    .container a {
        margin-right: 0; 
    }
    
    .card {
        width: 80%;
        margin: 0 auto; 
        margin-bottom: 30px; 
    }

    .card img {
        height: 300px;
    }
}
