a {
    text-decoration: none;
    color: white;
}

header{
    background: black; 
    color: white; 
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px; 
    width: 100%; 
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
}

.store-icon{
    color: #7209b7; 
    margin: 0 2px; 
}

header h4{
    color: orange; 
    transition: transform 0.3s ease-out; 
}

header h4:hover{
    transform: scale(1.1);
}



@media all and (max-width: 480px){
    header{
        flex-direction: column;
        height: initial; 
    }

    header h1{
        font-size: 24px; 
        margin-bottom: 6px;
    }

}