.form-container{
    display: flex; 
    flex-direction: column;
    width: 30%; 
    margin: 0 auto; 
    margin-top: 30px; 
    background: white; 
    padding: 30px; 
    border-radius: 5px; 
    margin-bottom: 30px; 
}

.heading{
    text-align: center;
    margin: 5px auto 20px; 
    font-family: 'Poppins', sans-serif;
}

.form-container > input{
    font-size: 16px; 
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #dddfe2; 
}

.form-container > button{
    margin: 20px auto 10px; 
    padding: 10px 35px; 
    font-size: 20px;
    border-radius: 7px;
    border: none; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
    background: black; 
    color: white; 
    font-family: 'Poppins', sans-serif;
}

.form-container > button:hover{
    transform: scale(1.1);
}

.error{
    margin: 0; 
    padding: 0; 
    font-size: 13px; 
    color: red; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    /* visibility: hidden;  */
}

@media all and (max-width: 768px){
    .form-container{
        width: 50%; 
    }
}

@media all and (max-width: 480px) {
    .form-container{
        width: 80%; 
    }
}