.error {
    color: black;
    padding: 10px 15px;
    font-size: 18px; 
    align-self: center;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px; 
}

.xmark {
    display: flex;
    justify-content: center;
    color: red;
    margin-bottom: 10px;
    font-size: 40px;
    vertical-align: middle;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}