* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F0F2F5; 
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #444;
    box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to right, #3e3e3e, #111, #000);
    box-shadow: inset 0 0 1px 1px #646464;
}
